
@media screen and (min-width: 750px) {
    nav ul {
    justify-content: center;
      gap: 2em;
      padding: 0 2em;
    }
  
    main {
      max-width: 1000px;
    }
  
    #temple-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      gap: 20px;
      justify-content: center;
    }
  
    footer {
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {
    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(8px) rotate(45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #780000;
        width: 100%;
        text-align: center;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }}