body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin-bottom: 20px;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin-right: 5px;
    background-color: black;
    text-align: center;
    line-height: 30px;
    width: 30px;
}

.rating input:checked ~ label,
.rating input:hover ~ label,
.rating input:hover ~ label ~ label {
    color: black;
    background-color: white;
}

.rating input:checked ~ label ~ label,
.rating input:hover ~ label,
.rating input:hover ~ label ~ label {
    color: black;
    background-color: white;
}


label, legend {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.features input {
    display: inline-block;
}

.features label {
    display: inline-block;
    margin-right: 10px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #218838;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    margin-top: 20px;
}